/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container, .edit-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2, .edit-container h2 {
    margin-bottom: 20px;
}

.login-container form, .edit-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label, .edit-container label, .login-container input, .edit-container input {
    margin-bottom: 10px;
}

.login-container button, .edit-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.login-container button:hover, .edit-container button:hover {
    background-color: #45a049;
}
