body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: #333;
}

iframe {
  width: 100%;
  height: calc(100vh - 120px); /* Высота минус высота шапки и кнопки сохранения */
  border: none;
  margin-top: 20px;
}

.editable {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 100px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
